body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  background-image: url("images/poplin.jpg");
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
}

header {
  background-color: white;
  width: 100%;
  text-align: center;
}

h1 {
  color: black;
  font-size: 56;
}

div {
  margin: 0;
  padding: 0;
  display: block;
}

#main-div {
  display: flex;
  justify-content: space-around;
}

h3 {
  margin-left: -80px;
}

.total {
  margin-left: -80px;
}

.hands {
  width: 29vw;
  height: 300px;
  padding-left: 15vw;
}

.hands > img {
  width: 17vw;
  margin-left: -13.5vw;
}

#game-controls {
  width: 42vw;
  height: 100px;
  display: inline-block;
  margin-top: 10%;
}

#message-el {
  height: 80px;
  font-style: italic;
  font-size: 36px;
  padding: 0;
  margin: 5px 5px 0px;
}

#pot-input {
  margin-top: 5px;
  width: 50px;
  height: 15px;
}

button {
  color: black;
  box-shadow: 0.6vw 0.1vw 0.1vw -0.7vw #3e7327;
  width: 10vw;
  min-width: 80px;
  background: linear-gradient(to bottom, #619945 5%, #72b352 100%);
  background-color: #619945;
  padding: 0.5vw;
  font-weight: bold;
  border: 1px solid #4b8f29;
  display: block;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
}

button:hover {
  background: linear-gradient(to bottom, #72b352 5%, #619945 100%);
  background-color: #72b352;
}
button:active {
  position: relative;
  top: 1px;
}

/* #record-board {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  width: 300px;
  margin: auto;
}
 */
